DATABASE_URL=postgresql://utilisateur:motdepasse@localhost:5433/nom_de_la_base
SECRET_KEY=votre_cle_secrete_ici
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
GEMINI_API_KEY=votre_cle_api_gemini_ici
GOOGLE_CLIENT_ID=votre_client_id_google_ici
